.container {
  width     : 100vw;
  height    : 100vh;
  overflow  : hidden;
  position  : relative;
  // padding: 2rem;
  color     : #eccca8;
}

.title {
  color      : #f7d5b0;
  font-size  : 1.6rem;
  margin-top : 10vh;
  font-weight: lighter;
  text-align : center;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  b {
    font-size: 2.4rem;
  }
}

.autoWrap b {
  display  : block;
  word-wrap: break-word;
}

.content {
  position      : absolute;
  bottom        : 0;
  margin        : 0 1rem 10vh 1.5rem;
  text-align    : left;
  // text-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  p {
    margin-top   : .25rem;
    margin-left  : 1rem;
    margin-bottom: .25rem;
  }
}

.dark {
  color: rgba(0, 0, 0, .65);

  .title {
    color: rgba(0, 0, 0, .85);
  }
}